<h2><strong> Kliknite ispod da bi vidjeli kartu Sarajeva.</strong></h2>


<style>
    body {
        background-color: white;
        background-size: 1400px 750px;
        background-image: url(https://scontent.fsjj2-1.fna.fbcdn.net/v/t1.15752-9/34536817_1799610093439112_5907752752875831296_n.jpg?_nc_cat=0&_nc_eui2=AeEEmXhzX3II72M1qpLK9MM5ipZerZUg_UQsLI-C3EgPtRRIrt0wG8JNiDEh3cZJkjPN1OE7VNwvPsUJDw_93DINbASwRnfWctnLKwbLzvzoNw&oh=c4f87fb3453b07c2628b0a856439cae9&oe=5BB76EC5);
    }
    .karta {
        background-image: url(https://scontent.fsjj2-1.fna.fbcdn.net/v/t1.15752-9/34533786_1799605810106207_5858266401684324352_n.png?_nc_cat=0&_nc_eui2=AeHjSlEedgw2Hb3LawiOj1dWLlBBZG5HNbMYfHVzHB7pIaNC2WWz75KW5tvcty-B669WFcIIk3bd2cScOMJ1aQ1dAPeSUoeZXa3h1f5zqnAsHw&oh=a20e664126c6d4155cc9d3d02fd324b9&oe=5BBFD5C6); 
        background-size: cover;
        background-position: center;
        padding: 20px 70px;
    }
</style>

<form action="https://www.google.com/maps/place/Sarajevo/">
    <button class="karta">
        
    </button>
</form>

