@{ViewBag.Title = "Kontakt informacije";
}
<h2>@ViewBag.Title:</h2>

<style>
    body {
        background-color: white;
        background-size: 1400px 750px;
        background-image: url(http://www.simtours.rs/img/travel.jpg);
    }
</style>

<address>
   <br /> Sarajevo, Neka ulica br 5 <br />
                              <abbr title="Phone">P: 062-123-456</abbr>
    
</address>

<address>
    <strong>E-mail: grasomoni@hotmail.com </strong>
</address>